:root {
    --largeur: 30rem;
}

body {
    text-align: center;
    font-family: 'Jost', sans-serif;
    background-color: #f0f5ff;
  }
  
  h1 {
    font-size: 48px;
    color: #232c3d;
  }
  
  h2 {
    font-size: 30px;
    color: #232c3d;
    opacity: 0.75;
  }
  
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grille {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: var(--largeur);
  border: 1px solid #000;
}

.grille .case {
    height: calc((var(--largeur) / 3) - 2px);
    width: calc((var(--largeur) / 3) - 2px);
    border: 1px solid #000;
    background-color: #FFF;
}

.grille .case.checked.tac,
.grille .case.checked.tic {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 80%;
}

.grille .case.checked.tic {
    background-image: url(./imgs/chip.jpg);
}

.grille .case.checked.tac {
    background-image: url(./imgs/dale.jpg);
}

.grille .case:not(.checked):hover {
    background-color: #EDEDED;
    cursor: pointer;
}