.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    width: 300px;
    height: 300px;
}

.case{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    border: 1px solid black;
    transition: box-shadow 0.3s, transform 0.3s;
    height: 90px;
    width: 90px;
}

.case:hover{
    box-shadow: 1px 1px 12px rgb(143, 143, 143);
    transform: translateY(-2px);
}

.actions{
    margin-top: 1rem;
}

.restart{
    margin-top: 1rem;
    border: none;
    border-radius: 10px;
    padding: .7rem 2rem;
    background-color: black;
    border: 1px solid black;
    color: white;
    cursor: pointer;
    transition: color .3s ease-in-out, background-color .3s ease-in-out;
}

.restart:hover{
    color: black;
    background-color: white;
}

.red{
    color: red;
}

.green{
    color: green;
}